@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans';
    /*margin: 2%;*/
}

body {
    background-color: #FAFAFA;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#login {
    margin-left: 20%;
    margin-right: 20%;
}

#button-login {
    margin-top: 10px;
    margin-left: 21%;
    margin-right: 20%;
}

.tabelas {
    margin: 5%;
}

#pregos {
    background-color: #D7D7D7;
}

#recozimento {
    background-color: #BABABA;
}

#galva {
    background-color: #999999;
}

.circulo{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #DADADA;
}

.circulo-feito{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #3F4046;
}

.bolinhas {
    margin: 2%;
}

.bt01 {
    background-color: #BABABA;
    margin: 3%;
}

.bt02 {
    background-color: #D7D7D7;
    margin: 3%;
}

#tabelas_mes {
    margin: 5%;
}

h3 {
    font-family: Barlow;
    font-size: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}